.card img{
	padding: 10px;
    max-height: 259px;
    object-fit: contain;
}
input[type="number"]{
    padding: 0;
    text-align: center;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
	padding: .375rem 1.75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color:#257102 !important;
	border-color:#257102 !important;
}
.text-danger {
    color: 
    #44181c !important;
}
.card {
    word-wrap: break-word;
    color: 
    #206a06;
}